.castListContainer {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.castListContainer li {
    width: 200px;
    height:350px;
    margin: 15px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(50, 48, 48);
    border-radius: 10px;
    background-color: white;
    color: rgb(3, 3, 3);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    font-weight: 600;
}

.castListContainer li:hover {
    transform: scale(1.05);
}

.castListContainer li h3 {
    margin: 10px 0;
    color: rgb(156, 39, 39);
}

.castListContainer li img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.noCast {
    text-align: center;
    color: red;
    font-size: 20px;
    margin-top: 20px;
}

.castHeader{
    display: flex;
    justify-content: center;
}