/* Header.module.css */
.header {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-weight:bold;
}

.nav {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 55px;
}

.link,
.linkActive {
    color: #343a40;
    text-decoration: none;
    font-size: 16px;
    padding: 12px 14px;
    width: 60px;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    line-height: 10px;
    margin-left: 20px;
}

.linkActive {
    background-color: #dc3545;
    border-radius: 5px;
    color: white;
}

.link:hover {
    background-color: #c627278f;
    border-radius: 5px;
    color: white;
}