.header {
    background-color: #f0f0f0;
    padding:20px;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.linkActive {
    color:red;
    font-weight: 700;
}